{% extends "user/paperadmin/master/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class=""><a href="{% url 'index' %}">Home</a></li>
    <li class="active">Dashboard</li>
{% endblock %}

{% block heading %}
    <h1>Dashboard
        <small>Project Statistics</small>
    </h1>
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="
    {% static "assets/css/override.css" %}">
{% endblock %}

{% block content %}

    <div data-widget-group="group1">
        <div class="row upper-analytics">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="info-tile info-tile-alt">
                    <div class="info green-1">
                        <div class="tile-heading"><span>Today</span></div>
                        <div class="tile-body" style="text-align: center !important; font-size: 18px;"></div>
                    </div>
                    <div class="stats hide">
                        <div class="tile-content">
                            <div id="dashboard-sparkline-indigo"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="info-tile info-tile-alt">
                    <div class="info green-2">
                        <div class="tile-heading"><span>Yesterday</span></div>
                        <div class="tile-body " style="text-align: center !important; font-size: 18px;"></div>
                    </div>
                    <div class="stats hide">
                        <div class="tile-content">
                            <div id="dashboard-sparkline-gray"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="info-tile info-tile-alt">
                    <div class="info green-3">
                        <div class="tile-heading"><span>This Month</span></div>
                        <div class="tile-body " style="text-align: center !important; font-size: 18px;"></div>
                    </div>
                    <div class="stats hide">
                        <div class="tile-content">
                            <div id="dashboard-sparkline-primary"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="info-tile info-tile-alt clearfix">
                    <div class="info green-4">
                        <div class="tile-heading"><span>Last Month</span></div>
                        <div class="tile-body " style="text-align: center !important; font-size: 18px;"></div>
                    </div>
                    <div class="stats hide">
                        <div class="tile-content">
                            <div id="dashboard-sparkline-success"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 full-width">
                <div class="panel panel-default no-shadow" data-widget='{"draggable": "false"}'>
                    <div class="panel-controls dropdown">
                        <button class="btn btn-icon-rounded refresh-panel"><span
                                class="material-icons inverted">refresh</span></button>
                    </div>
                    <div class="panel-body">
                        <div class="pb-md">
                            <h4 class="mb-n">Sales Statistics
                                <small></small>
                            </h4>
                        </div>
                        <div id="fullChart" class="centered" style="height: 400px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extrascript %}
    <script src="{% static "assets/js/custom/sales-analytics.js" %}"></script>
{% endblock %}
