{% load static %}
<meta charset="utf-8">
<title>Classroom</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="description" content="Classroom">
<meta name="author" content="Overcart">

<link rel="shortcut icon" href="#">
<link rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic%7COpen+Sans:400,400italic,700,700italic%7CRaleway:400,400italic,700,700italic">
<link type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500' rel='stylesheet'>
<link type='text/css' href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{% static "paperadmin/assets/fonts/font-awesome/css/font-awesome.min.css" %}" type="text/css"
      rel="stylesheet">        <!-- Font Awesome -->
<link href="{% static "paperadmin/assets/css/styles.css" %}" type="text/css"
      rel="stylesheet">                                     <!-- Core CSS with all styles -->
<link href="{% static "assets/css/custom.css" %}" type="text/css" rel="stylesheet">
<link href="{% static "paperadmin/assets/plugins/codeprettifier/prettify.css" %}" type="text/css"
      rel="stylesheet">                <!-- Code Prettifier -->
<script src="{% static "paperadmin/assets/js/jquery-1.10.2.min.js" %}"></script>                            <!-- Load jQuery -->
<link href="{% static "paperadmin/assets/plugins/dropdown.js/jquery.dropdown.css" %}" type="text/css"
      rel="stylesheet">            <!-- iCheck -->
<link href="{% static "paperadmin/assets/plugins/progress-skylo/skylo.css" %}" type="text/css"
      rel="stylesheet">                   <!-- Skylo -->

<!--[if lt IE 10]>
    <script src="{% static "paperadmin/assets/js/media.match.min.js" %}"></script>
    <script src="{% static "paperadmin/assets/js/respond.min.js" %}"></script>
    <script src="{% static "paperadmin/assets/js/placeholder.min.js" %}"></script>
<![endif]-->
<!-- The following CSS are included as plugins and can be removed if unused-->

<link href="{% static "paperadmin/assets/plugins/form-daterangepicker/daterangepicker-bs3.css" %}" type="text/css"
      rel="stylesheet">    <!-- DateRangePicker -->
<link href="{% static "paperadmin/assets/plugins/fullcalendar/fullcalendar.css" %}" type="text/css"
      rel="stylesheet">                   <!-- FullCalendar -->
<link href="{% static "paperadmin/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css" %}" type="text/css"
      rel="stylesheet">
<link href="{% static "paperadmin/assets/less/card.less" %}" type="text/css" rel="stylesheet">
<link href="{% static "paperadmin/assets/plugins/chartist/dist/chartist.min.css" %}" type="text/css"
      rel="stylesheet"> <!-- chartist -->

<!-- Datatables -->

<link href="{% static "paperadmin/assets/plugins/datatables/dataTables.bootstrap.css" %}" type="text/css"
      rel="stylesheet">
<link href="{% static "paperadmin/assets/plugins/datatables/dataTables.themify.css" %}" type="text/css"
      rel="stylesheet">

<!-- Bootstrap Support for Datatables -->
<link href="{% static "paperadmin/assets/plugins/datatables/dataTables.fontAwesome.css" %}" type="text/css"
      rel="stylesheet">                  <!-- FontAwesome Support for Datatables -->
<link href="{% static "paperadmin/assets/plugins/tables-fixedheader/css/dataTables.fixedHeader.min.css" %}" type="text/css"
      rel="stylesheet">
<link href="{% static "assets/css/checkbox.css" %}" type="text/css" rel="stylesheet">
<link href="{% static "assets/css/material-loader.css" %}" type="text/css" rel="stylesheet">





